#卷毛鼠
host-suffix,jmsuper.com,Media-SG
#终点站
host-suffix,emby.wtf,Media-HK
#垃圾影音
host-suffix,cf.gtlx.org,Media-HK
#peach
host-suffix,embymv.link,Media-HK
#星云
host-suffix,nebula-media.org,Media-HK

#ytoo
host-suffix,st.stentvessel.xyz,Media-HK

#host-keyword,emby,Media-HK
