;原地址->https://raw.githubusercontent.com/fmz200/wool_scripts/main/Loon/plugin/blockAds.plugin
hostname = m.client.10010.com, m1.ad.10010.com, res.mall.10010.cn
^https://m\.client\.10010\.com\/mobileService\/(activity|customer)\/(accountListData|get_client_adv|get_startadv) url reject-img
^https://m\.client\.10010\.com\/mobileService\/customer\/getclientconfig\.htm url reject-dict
^https://m\.client\.10010\.com\/uniAdmsInterface\/(getHomePageAd|getWelcomeAd) url reject-img
^https://[^(apple|10010)]+\.(com|cn)\/(a|A)d(s|v)?(\/|\.js) url reject-img
^https://m1\.ad\.10010\.com\/noticeMag\/images\/imageUpload\/2\d{3} url reject-img
^https://res\.mall\.10010\.cn\/mall\/common\/js\/fa\.js?referer= url reject-img
HOST-SUFFIX,m1.ad.10010.com, REJECT
HOST-SUFFIX,apoll.m.taobao.com, REJECT
HOST-SUFFIX,h-adashx.ut.taobao.com, REJECT
HOST-SUFFIX,w.m.taobao.com, REJECT
HOST, tunion-api.m.taobao.com, REJECT
HOST-SUFFIX,re.m.taobao.com, REJECT
HOST-SUFFIX,agoodm.m.taobao.com, REJECT
HOST-SUFFIX,ai.taobao.com, REJECT
HOST-SUFFIX,api.waptest.taobao.com, REJECT
HOST-SUFFIX,dsp.simba.taobao.com, REJECT
HOST-SUFFIX,fav.simba.taobao.com, REJECT
HOST-SUFFIX,m.simba.taobao.com, REJECT
HOST-SUFFIX,mclick.simba.taobao.com, REJECT
HOST-SUFFIX,re.taobao.com, REJECT
HOST-SUFFIX,redirect.simba.taobao.com, REJECT
HOST-SUFFIX,simba.m.taobao.com, REJECT
HOST-SUFFIX,srd.simba.taobao.com, REJECT
HOST-SUFFIX,temai.taobao.com, REJECT
HOST-SUFFIX,textlink.simba.taobao.com, REJECT
HOST-SUFFIX,unitacs.m.taobao.com, REJECT
HOST-SUFFIX,acs4baichuan.m.taobao.com, REJECT
HOST-SUFFIX,adashbc.ut.taobao.com, REJECT
HOST-SUFFIX,adash-c.ut.taobao.com, REJECT
HOST-SUFFIX,adashxgc.ut.taobao.com, REJECT
HOST-SUFFIX,adashx4yt.m.taobao.com, REJECT
HOST-SUFFIX,tunion-api.m.taobao.com, REJECT
HOST-SUFFIX,tns.simba.taobao.com, REJECT
HOST-SUFFIX,click.mz.simba.taobao.com, REJECT
HOST-SUFFIX,click.simba.taobao.com, REJECT
HOST-SUFFIX,click.tz.simba.taobao.com, REJECT
HOST-SUFFIX,stat.simba.taobao.com, REJECT
HOST-SUFFIX,m-adash.m.taobao.com, REJECT
HOST-SUFFIX,adashbc.m.taobao.com, REJECT